.itemDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
  }
  
  .itemDetail__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .itemDetail__li{
    list-style: none;
    padding: 10px;
    margin: 0em 2rem;
  }

  .itemDetail__img {
    max-width: 600px;
    width: 100%;
    object-fit: contain;
    margin: 15px;
  }

  .itemDetail__button{
    display: flex;
    flex-direction: row;
    justify-content: space-flex-start;
    align-items: center;
    margin: 0 auto;

  }

  
  .itemDetail__price {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .itemDetail__description {
    height: 100px;
    margin: 15px;
  }
  
  .itemDetail__Count {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
